<template>
  <v-navigation-drawer :value="getSideBarToggle" app overflow right width="80%">
    <OverlayLoader />
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>
          <v-row>
            <v-col cols="4 text-left"> <b>My Cart</b>, </v-col>
            <v-col cols="4 text-center">1 item</v-col>
            <v-col cols="4" class="text-right">
              <v-icon @click="sideBarToggle">mdi-close</v-icon>
            </v-col>
          </v-row>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list>
      <v-list-item v-for="(cart, index) in getCart" :key="index">
        <v-list-item-content>
          <v-overlay :absolute="true" :value="expiredItems.includes(cart.id)">
            <v-btn color="error" class="ma-2 white--text">
              Item Expired
              <v-icon right dark>mdi-delete</v-icon>
            </v-btn>
          </v-overlay>
          <v-row>
            <v-col cols="6" md="4">
              <v-img
                class="white--text align-end"
                height="200"
                width="200"
                style="objectFit:cover!important;"
                :src="cart.image"
              />
            </v-col>
            <v-col cols="6">
              <v-list-item-title>{{ cart.label }}</v-list-item-title>
              <v-list-item-subtitle>{{ cart.label }}</v-list-item-subtitle>
              <v-list-item-subtitle v-if="cart.cutOffPrice > 0">
                <span class="caption cutOffPrice">
                  {{ computeAmount(cart.cutOffPrice) }}
                </span>
                <span class="subtitle-2 price">
                  {{ computeAmount(cart.price) }}
                </span>
              </v-list-item-subtitle>
              <v-list-item-subtitle v-else>
                <span class="subtitle-2">
                  {{ computeAmount(cart.price) }}
                </span>
              </v-list-item-subtitle>
              <v-list-item-subtitle
                >Color:
                <b>{{
                  cart.productColor.productColorLabel
                }}</b></v-list-item-subtitle
              >
              <v-list-item-subtitle
                >Size :
                <b>{{
                  cart.productSizes.productSizeLabel
                }}</b></v-list-item-subtitle
              >
              <v-list-item-subtitle>Quantity </v-list-item-subtitle>
              <v-list-item-subtitle>
                <v-row align="center" class="text-center">
                  <v-col cols="4">
                    <v-icon @click="decreaseQuantiy(index)">mdi-minus</v-icon>
                  </v-col>
                  <v-col cols="4">
                    <b>{{ cart.productQuantity }}</b>
                  </v-col>
                  <v-col cols="4">
                    <v-icon @click="increaseQuantiy(index)">mdi-plus</v-icon>
                  </v-col>
                </v-row>
              </v-list-item-subtitle>
            </v-col>
          </v-row>
        </v-list-item-content>
        <v-list-item-action>
          <v-icon color="red" @click="removeFromCartRequest(cart, index)"
            >mdi-delete</v-icon
          >
        </v-list-item-action>
      </v-list-item>
      <v-divider></v-divider>
    </v-list>

    <v-spacer></v-spacer>

    <template v-slot:append>
      <v-list>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-right">
              Total {{ computeAmount(computeTotalPrice) }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-row align="end" justify="space-around">
        <v-col class="text-center">
          <v-btn text @click="sideBarToggle">Cancel</v-btn>
        </v-col>
        <v-col class="text-center">
          <v-btn
            color="primary"
            text
            @click="proceedToCheckout(computeTotalPrice)"
            :disabled="getCart.length == 0"
            >Proceed To Checkout</v-btn
          >
        </v-col>
      </v-row>
    </template>
    <!-- <div class=" text-center">
      <v-btn rounded color="primary" dark @click="proceedToCheckout()"
        >Proceed To checkout</v-btn
      >
    </div> -->
  </v-navigation-drawer>

  <!-- <v-navigation-drawer
    :value="getSideBarToggle"
    app
    overflow
    right
    width="100%"
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>
          <v-row>
            <v-col cols="4 text-left"> <b>My Cart</b>, </v-col>
            <v-col cols="4 text-center">1 item</v-col>
            <v-col cols="4" class="text-right">
              <v-icon @click="sideBarToggle">mdi-close</v-icon>
            </v-col>
          </v-row>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense>
      <v-row>
        <v-col></v-col>
        <v-col>
          <v-card
            v-for="item in items"
            :key="item.title"
            class="d-inline-block ma-2 pa-2 text-center"
          >
            <v-container>
              <v-row justify="space-between">
                <v-col cols="auto">
                  <v-img
                    height="100"
                    width="100"
                    src="@/assets/image1.jpeg"
                  ></v-img>
                </v-col>

                <v-col cols="auto" class="text-center">
                  <v-row class="flex-column ma-0 fill-height" justify="center">
                    <b>RM 20.00</b>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
        <v-col> </v-col>
      </v-row>
    </v-list>
    <div class=" text-center">
      <v-btn rounded color="primary" dark @click="proceedToCheckout()"
        >Proceed To checkout</v-btn
      >
    </div>
  </v-navigation-drawer>-->
  <!-- <div class="text-center">
    <v-menu
      v-model="getSideBarToggle"
      :close-on-content-click="false"
      :close-on-click="false"
      :nudge-width="500"
      offset-x
    >
      <OverlayLoader />

      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>My Cart</v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>mdi-cart</v-icon>
            </v-list-item-action>
          </v-list-item>
        </v-list>

        <v-list>
          <v-list-item v-for="(cart, index) in getCart" :key="index">
            <v-list-item-content>
              <v-overlay
                :absolute="true"
                :value="expiredItems.includes(cart.id)"
              >
                <v-btn color="error" class="ma-2 white--text">
                  Item Expired
                  <v-icon right dark>mdi-delete</v-icon>
                </v-btn>
              </v-overlay>
              <v-row>
                <v-col cols="6">
                  <v-img
                    class="white--text align-end"
                    height="200"
                    width="200"
                    style="objectFit:cover!important;"
                    :src="cart.image"
                  />
                </v-col>
                <v-col cols="6">
                  <v-list-item-title>{{ cart.label }}</v-list-item-title>
                  <v-list-item-subtitle>{{ cart.label }}</v-list-item-subtitle>
                  <v-list-item-subtitle v-if="cart.cutOffPrice > 0">
                    <span class="caption cutOffPrice">
                      {{ computeAmount(cart.cutOffPrice) }}
                    </span>
                    <span class="subtitle-2 price">
                      {{ computeAmount(cart.price) }}
                    </span>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle v-else>
                    <span class="subtitle-2">
                      {{ computeAmount(cart.price) }}
                    </span>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle
                    >Color:
                    <b>{{
                      cart.productColor.productColorLabel
                    }}</b></v-list-item-subtitle
                  >
                  <v-list-item-subtitle
                    >Size :
                    <b>{{
                      cart.productSizes.productSizeLabel
                    }}</b></v-list-item-subtitle
                  >
                  <v-list-item-subtitle>Quantity </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    <v-row align="center" class="text-center">
                      <v-col cols="4">
                        <v-icon @click="decreaseQuantiy(index)"
                          >mdi-minus</v-icon
                        >
                      </v-col>
                      <v-col cols="4">
                        <b>{{ cart.productQuantity }}</b>
                      </v-col>
                      <v-col cols="4">
                        <v-icon @click="increaseQuantiy(index)"
                          >mdi-plus</v-icon
                        >
                      </v-col>
                    </v-row>
                  </v-list-item-subtitle>
                </v-col>
              </v-row>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon color="red" @click="removeFromCartRequest(cart, index)"
                >mdi-delete</v-icon
              >
            </v-list-item-action>
          </v-list-item>
          <v-divider></v-divider>
        </v-list>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="text-right">
                Total {{ computeAmount(computeTotalPrice) }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn text @click="sideBarToggle">Cancel</v-btn>
          <v-btn
            color="primary"
            text
            @click="proceedToCheckout(computeTotalPrice)"
            :disabled="getCart.length == 0"
            >Proceed To Checkout</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-menu>
  </div> -->
</template>

<script>
import { homeService } from "../../_services";
import OverlayLoader from "@/components/OverlayLoader/OverlayLoader";

export default {
  name: "SideBar",

  components: {
    OverlayLoader,
  },

  data() {
    return {
      menu: false,
      items: [{ title: "Home", icon: "dashboard" }],
      expiredItems: [],
    };
  },
  methods: {
    sideBarToggle() {
      this.$store.dispatch("createSideBarToggle", this.event);
    },
    proceedToCheckout() {
      this.$store.dispatch("overlayLoader", this.event);
      homeService.saveCart(this.getCart).then((response) => {
        if (response.successful) {
          // this.analytics.fbq.event("COTT8N", {
          //   action: "Landing Page - Save Cart Success",
          //   data: this.getCart,
          // });
          homeService.authenticateCheckout(response.dataResponse).then(() => {
            homeService.requestPaymentToken().then((thirdResponse) => {
              this.$store.dispatch(
                "setStripeToken",
                thirdResponse.dataResponse
              );
              this.sideBarToggle();
              localStorage.setItem("timer", 15 * 60 * 5000);
              // this.analytics.fbq.event("COTT8N", {
              //   action: "Landing Page - On the way to checkout page",
              // });
              this.$router.push({ name: "CheckoutPage" });
              this.$store.dispatch("overlayLoader", this.event);
            });
          });
        } else {
          this.expiredItems = response.dataResponse;
          // this.analytics.fbq.event("COTT8N", {
          //   action: "Landing Page - Expired Items Detected",
          //   data: this.expiredItems,
          // });
          this.$store.dispatch("overlayLoader", this.event);
        }
      });
    },

    computeAmount(value) {
      return `RM ${(value / 100).toFixed(2)}`; // get state
    },
    decreaseQuantiy(value) {
      this.$store.dispatch("decreaseCount", value);
    },
    increaseQuantiy(value) {
      this.$store.dispatch("increaseCount", value);
    },
    removeFromCartRequest(cart, index) {
      let payload = {
        modalDialog: true,
        message: `Are you sure you want to remove the shirt  ${cart.label} ?`,
        indexToRemove: index,
      };
      // this.analytics.fbq.event("COTT8N", {
      //   action: "Landing Page - Cart Removal",
      //   shirt: cart.label,
      // });
      this.$store.dispatch("setFormAction", payload);
    },
  },
  mounted: function() {
    // console.log("hello", this.$store.getters.count); //method1 will execute at pageload
  },
  computed: {
    counter() {
      return this.$store.getters.drawer; // get state
    },
    getSideBarToggle() {
      return this.$store.getters.getSideBarToggleStatus; // get state
    },
    getCart() {
      return this.$store.getters.getCart; // get state
    },
    computeTotalPrice() {
      if (this.$store.getters.getCart.length > 0) {
        let price = 0;
        this.$store.getters.getCart.forEach((element) => {
          if (this.expiredItems.length > 0) {
            if (!element.id.includes(this.expiredItems)) {
              price += element.price * element.productQuantity;
            }
          } else {
            price += element.price * element.productQuantity;
          }
        });
        return price;
      } else {
        return 0;
      }
    },
  },
};
</script>

<style scoped>
.cutOffPrice {
  text-decoration: line-through !important;
}
.price {
  color: green;
}
</style>
