<template>
  <v-carousel cycle height="400" hide-delimiter-background show-arrows-on-hover>
    <v-carousel-item
      v-for="(image, i) in images"
      :key="i"
      :src="require(`@/assets/${image}`)"
      reverse-transition="fade-transition"
      transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  name: "Carousel",

  components: {},

  data() {
    return {
      images: ["cott8n.jpg"],
    };
  },
  computed: {},
};
</script>

<style></style>
