<template>
  <v-banner two-line class="bannerStyle">
    <v-avatar slot="icon" color="deep-purple accent-4" size="40">
      <v-icon color="white">{{ canabis }}</v-icon>
    </v-avatar>We are operating as usual.
    <b>Free</b> SHIPPING
  </v-banner>
</template>

<script>
import { mdiCannabis } from "@mdi/js";

export default {
  name: "Banner",

  components: {},

  data: () => ({
    canabis: mdiCannabis
  }),
  computed: {}
};
</script>

<style scoped>
.bannerStyle {
  background-color: orange !important;
}
</style>
