<template>
  <v-sheet class="mx-auto" elevation="8">
    <v-slide-group v-model="model" class="pa-4" center-active show-arrows>
      <v-slide-item
        v-for="(main, key) in products.firstLevel"
        :key="key"
        v-slot:default="{ active, toggle }"
      >
        <v-card
          class="ma-2"
          width="200"
          @click="
            toggle();
            invokeImageCount();
            currentProductChoose = key;
            start = 0;
            sizeChoosen = null;
            colorChoosen = null;
          "
        >
          <v-img
            class="white--text align-end"
            contain
            height="200"
            :key="key"
            :src="main.image"
          >
          </v-img>

          <v-card-title class="pb-2">{{ main.shirtLabel }}</v-card-title>
          <v-card-subtitle class="pb-2">
            <div v-if="main.cutOffPrice">
              <span class="caption cutOffPrice">
                {{ computeAmount(main.cutOffPrice) }}
              </span>
              <span class="subtitle-2 price">
                {{ computeAmount(main.price) }}
              </span>
            </div>
            <div v-else>
              <span class="subtitle-2">
                {{ computeAmount(main.price) }}
              </span>
            </div>
          </v-card-subtitle>
          <v-card-text class="td-inline-block text-truncate">
            {{ main.description }}
          </v-card-text>
        </v-card>
      </v-slide-item>
    </v-slide-group>

    <v-expand-transition>
      <v-container v-if="model != null" fluid>
        <v-card>
          <div class="pa-2">
            <v-row no-gutters>
              <v-col cols="12" md="6">
                <v-row justify="center" align="center" class="text-center pa-2">
                  <!-- <v-col cols="1"></v-col>
                  <v-col cols="10">
                    
                  </v-col>
                  <v-col cols="1"></v-col> -->
                  <v-carousel
                    v-model="start"
                    class="carouselStyle"
                    hide-delimiter-background
                    show-arrows-on-hover
                  >
                    <v-carousel-item
                      v-for="(child, key) in products.child[
                        currentProductChoose
                      ]"
                      :key="key"
                      @click="
                        colorChoosen = child.productColor.productColorCode
                      "
                      style="height: 100%"
                      :src="child.productImage"
                    ></v-carousel-item>
                  </v-carousel>
                </v-row>
              </v-col>
              <v-col cols="12" md="1"></v-col>
              <v-col cols="12" md="5" class="pa-4">
                <v-row>
                  <h3 class="title">
                    {{ products.firstLevel[currentProductChoose].shirtLabel }}
                  </h3>
                </v-row>
                <v-row>
                  <h3 class="title">
                    {{ products.firstLevel[currentProductChoose].description }}
                  </h3>
                </v-row>
                <v-row>
                  <div
                    v-if="
                      products.firstLevel[currentProductChoose].cutOffPrice > 0
                    "
                  >
                    <span class="caption cutOffPrice">
                      {{
                        computeAmount(
                          products.firstLevel[currentProductChoose].cutOffPrice
                        )
                      }}
                    </span>
                    <span class="subtitle-2 price">
                      {{
                        computeAmount(
                          products.firstLevel[currentProductChoose].price
                        )
                      }}
                    </span>
                  </div>
                  <div v-else>
                    <span class="subtitle-2">
                      {{
                        computeAmount(
                          products.firstLevel[currentProductChoose].price
                        )
                      }}
                    </span>
                  </div>
                </v-row>
                <v-row class="mt-2">
                  <div>
                    {{ $t("msg.colour_label") }} :
                    {{
                      products.child[currentProductChoose][start].productColor
                        .productColorLabel
                    }}
                  </div>
                </v-row>
                <v-row class="mt-5 ">
                  <v-btn-toggle mandatory v-model="colorChoosen">
                    <v-col
                      v-for="(child, key) in products.child[
                        currentProductChoose
                      ]"
                      :key="key"
                    >
                      <v-badge
                        :color="
                          child.productColor.productColorCode == colorChoosen
                            ? 'green'
                            : ''
                        "
                        bordered
                        overlap
                      >
                        <span
                          slot="badge"
                          v-if="
                            child.productColor.productColorCode == colorChoosen
                          "
                        >
                          <v-icon size="12" color="white">mdi-check</v-icon>
                        </span>
                        <v-btn
                          @click="
                            setStart(key);
                            sizeChoosen = null;
                          "
                          :value="child.productColor.productColorCode"
                          rounded
                          :elevation="
                            child.productColor.productColorCode == colorChoosen
                              ? 8
                              : 1
                          "
                          :color="child.productColor.productColorCode"
                        >
                        </v-btn>
                      </v-badge>
                    </v-col>
                  </v-btn-toggle>
                </v-row>

                <v-row class="mt-2">
                  <div>{{ $t("msg.size_label") }}</div>
                </v-row>
                <v-row>
                  <v-btn-toggle tile mandatory v-model="sizeChoosen" group>
                    <v-row>
                      <v-col
                        cols="6"
                        v-for="(size, index) in products.child[
                          currentProductChoose
                        ][start].productSizes"
                        :key="index"
                      >
                        <v-container fluid>
                          <v-btn
                            :value="index"
                            :elevation="index == sizeChoosen ? 8 : 1"
                            :color="index == sizeChoosen ? 'primary' : ''"
                          >
                            {{ size.productSizeLabel }}
                          </v-btn>
                        </v-container>
                      </v-col>
                    </v-row>
                  </v-btn-toggle>
                </v-row>

                <v-row class="float-right">
                  <v-btn
                    color="primary"
                    :loading="loading"
                    :disabled="loading"
                    @click="addToCart"
                  >
                    Add to Cart
                    <v-icon right dark>mdi-cart-plus</v-icon>
                  </v-btn>
                </v-row>
              </v-col>
            </v-row>
          </div>
        </v-card>
      </v-container>
    </v-expand-transition>
    <v-snackbar v-model="snackbar" color="primary" :timeout="timeout">
      <v-row>
        <v-col>
          Successfully added to cart
          <v-icon color="white" class="ml-2">mdi-check-circle-outline</v-icon>
        </v-col>
      </v-row>

      <v-btn text @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>
    <v-snackbar
      v-model="getSessionTimeout"
      color="primary"
      :timeout="sessionTimeout"
    >
      <v-row>
        <v-col>
          Session timeout please try again with checking out again
          <v-icon color="white" class="ml-2">mdi-check-circle-outline</v-icon>
        </v-col>
      </v-row>

      <v-btn text @click="sessionTimeoutSnackBar(false)">
        Close
      </v-btn>
    </v-snackbar>
  </v-sheet>
</template>

<script>
var _ = require("lodash");
import { homeService } from "../../_services";

export default {
  name: "SlideGroup",

  components: {},

  data() {
    return {
      loading: false,
      snackbar: false,
      timeout: 2000,
      sessionTimeout: 5000,
      model: null,
      count: 0,
      start: 0,
      sizeChoosen: null,
      colorChoosen: null,
      modelImages: [
        {
          id: "23232",
          title: "Adidas Pulingo",
          price: 2000,
          cutOffPrice: 4900,
          image: "modelHeader.jpg",
          description: "Good Shirt Good value",
          images: [
            {
              index: 0,
              color: {
                color: "Yellow",
                colorCode: "yellow",
              },
              image: "modelSubHeader1.jpg",
              size: [
                {
                  label: "M",
                  code: "m",
                },
                {
                  label: "L",
                  code: "l",
                },
              ],
            },
            {
              index: 1,
              color: {
                color: "Red",
                colorCode: "red",
              },
              image: "modelSubHeader2.jpg",
              size: [
                {
                  label: "M",
                  code: "m",
                },
                {
                  label: "S",
                  code: "s",
                },
              ],
            },
            {
              index: 2,
              color: {
                color: "Purple",
                colorCode: "purple",
              },
              image: "modelSubHeader2.jpg",
              size: [
                {
                  label: "M",
                  code: "m",
                },
                {
                  label: "S",
                  code: "s",
                },
              ],
            },
          ],
        },
        {
          id: "33",
          title: "Adidas Pikango",
          price: 3000,
          cutOffPrice: 6900,
          image: "modelHeader.jpg",
          description: "Good Shirt Good value Good Pulingo",
          images: [
            {
              index: 0,
              color: {
                color: "Yellow",
                colorCode: "#FFFF00",
              },
              image: "modelSubHeader1.jpg",
              size: [
                {
                  label: "M",
                  code: "m",
                },
                {
                  label: "L",
                  code: "l",
                },
              ],
            },
            {
              index: 1,
              color: {
                color: "Red",
                colorCode: "#FF0000",
              },
              image: "modelSubHeader2.jpg",
              size: [
                {
                  label: "M",
                  code: "m",
                },
                {
                  label: "S",
                  code: "s",
                },
              ],
            },
            {
              index: 2,
              color: {
                color: "Purple",
                colorCode: "#9400D3",
              },
              image: "modelSubHeader2.jpg",
              size: [
                {
                  label: "M",
                  code: "m",
                },
                {
                  label: "S",
                  code: "s",
                },
              ],
            },
          ],
        },
      ],
      currentProductChoose: null,
      products: {
        firstLevel: null,
        child: null,
      },
    };
  },
  methods: {
    invokeImageCount() {
      this.count = this.modelImages[this.model].images.length;
    },
    sessionTimeoutSnackBar(value) {
      let payload = {
        sessionTimeout: value,
      };
      this.$store.dispatch("setFormAction", payload);
    },
    getProducts() {
      homeService.getProducts().then((response) => {
        this.products.firstLevel = response.dataResponse.firstLevel;
        this.products.child = response.dataResponse.child;
      });
    },
    increase() {
      if (this.start > this.count - 1) {
        console.log("blocked");
      } else {
        this.start++;
      }
    },
    decrease() {
      if (this.count - 1 < 0) {
        console.log("blocked");
      } else {
        this.start--;
      }
    },
    setStart(index) {
      this.start = index;
    },
    getModalImageIndex() {
      return this.colorChoosen;
    },
    computeAmount(value) {
      return `RM ${(value / 100).toFixed(2)}`; // get state
    },
    addToCart() {
      this.loading = true;
      let payload = {
        id: this.products.child[this.currentProductChoose][this.start].id,
        productQuantity: 1,
        productSizes: {
          productSizeLabel: this.products.child[this.currentProductChoose][
            this.start
          ].productSizes[this.sizeChoosen].productSizeLabel,
          productSizeCode: this.sizeChoosen,
        },
        productColor: {
          productColorLabel: this.products.child[this.currentProductChoose][
            this.start
          ].productColor.productColorLabel,
          productColorCode: this.colorChoosen,
        },
        image: this.products.child[this.currentProductChoose][this.start]
          .productImage,
        price: this.products.firstLevel[this.currentProductChoose].price,
        cutOffPrice: this.products.firstLevel[this.currentProductChoose]
          .cutOffPrice,
        shirtLabel: this.products.firstLevel[this.currentProductChoose]
          .shirtLabel,
        description: this.products.firstLevel[this.currentProductChoose]
          .description,
      };

      // this.analytics.fbq.event("COTT8N", {
      //   action: "Landing Page - Add to cart",
      //   shirt: payload.shirtLabel,
      // });

      let indexSame = null;
      for (let i = 0; i < this.getCart.length; i++) {
        if (
          _.isEqual(
            _.omit(this.getCart[i], ["productQuantity"]),
            _.omit(payload, ["productQuantity"])
          )
        ) {
          indexSame = i;
        }
      }
      if (indexSame == null) {
        this.$store.dispatch("addCard", payload);
      } else {
        this.$store.dispatch("increaseCount", indexSame);
      }
      this.setWithExpiry(
        "CART_SESSION",
        this.$store.getters.getCart,
        12 * 3 * 100000
      );
      this.snackbar = true;
      this.loading = false;
    },
    setWithExpiry(key, value, ttl) {
      const now = new Date();

      // `item` is an object which contains the original value
      // as well as the time when it's supposed to expire
      const item = {
        value: value,
        expiry: now.getTime() + ttl,
      };
      localStorage.setItem(key, JSON.stringify(item));
    },
  },
  computed: {
    getCart() {
      return this.$store.getters.getCart; // get state
    },
    getSessionTimeout() {
      return this.$store.state.sessionTimeout; // get state
    },
  },
  mounted() {
    this.getProducts();
  },
};
</script>

<style scoped>
.cutOffPrice {
  text-decoration: line-through !important;
}
.price {
  color: green;
}
/* @media screen and (max-width: 960px) {
  .carouselStyle {
    width: 50%;
  }
} */
</style>
