<template>
  <v-app>
    <Header />
    <Dialog />
    <v-content>
      <v-container>
        <router-view />
      </v-container>
      <Footer />
    </v-content>
  </v-app>
</template>

<script>
import Header from "./components/Header/Header";
import Footer from "./components/Footer/Footer";
import Dialog from "./components/Dialog/Dialog";

export default {
  name: "App",

  components: {
    Header,
    Footer,
    Dialog,
  },

  data() {
    return {
      setWithExpiry(key, value, ttl) {
        const now = new Date();

        // `item` is an object which contains the original value
        // as well as the time when it's supposed to expire
        const item = {
          value: value,
          expiry: now.getTime() + ttl,
        };
        localStorage.setItem(key, JSON.stringify(item));
      },
      getWithExpiry(key) {
        const itemStr = localStorage.getItem(key);
        // if the item doesn't exist, return null
        if (!itemStr) {
          this.setWithExpiry(key, this.$store.getters.getCart, 20000);
          return null;
        }

        const item = JSON.parse(itemStr);
        const now = new Date();

        // compare the expiry time of the item with the current time
        if (now.getTime() > item.expiry) {
          localStorage.removeItem(key);
          this.$store.dispatch("clearCart");
        } else {
          let payload = {
            cart: item.value,
          };
          this.$store.dispatch("setFormAction", payload);
        }

        this.setWithExpiry(key, this.$store.getters.getCart, 200000);
      },
    };
  },
  mounted() {
    this.getWithExpiry("CART_SESSION");
  },
};
</script>

<style scoped>
.contentStyle {
  margin-top: 10%;
  /* margin-bottom: 10%; */
  margin-right: 10%;
  margin-left: 10%;
}

@media screen and (max-width: 960px) {
  .contentStyle {
    margin: unset;
  }
}
</style>
