<template>
  <v-app-bar app color="primary" dark fixed>
    <div class="d-flex align-center">
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2 hidden-md-and-up"
        contain
        src="@/assets/cott8n.jpg"
        transition="scale-transition"
        width="80"
      />

      <v-img
        alt="Vuetify Name"
        class="shrink mt-1 hidden-sm-and-down"
        contain
        min-width="100"
        src="@/assets/cott8n.jpg"
        width="100"
      />
    </div>

    <v-spacer></v-spacer>
    <v-btn
      @click.stop="sideBarToggle()"
      text
      class="mt-2"
      v-if="this.$route.name == 'Home'"
    >
      <v-badge
        :color="getCartLength > 0 ? 'green' : ''"
        :content="getCartLength"
      >
        <span class="mr-2">My Carts</span>
        <v-icon>mdi-cart-outline</v-icon>
      </v-badge>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  name: "Header",

  components: {},

  data: () => ({
    //
  }),
  methods: {
    async sideBarToggle() {
      // this.analytics.fbq.event("COTT8N", {
      //   action: "Landing Page - Cart Page",
      // });
      await this.$store.dispatch("setFormAction", { sideBarToggle: false });
      // this.$store.dispatch("setFormAction", { sideBarToggle: true });
      console.log(this.$store.state.sideBarToggle);
      this.$store.dispatch("createSideBarToggle", this.event);
      console.log(this.$store.state.sideBarToggle);
    },
  },
  computed: {
    getCartLength() {
      return this.$store.getters.getCart.length; // get state
    },
  },
};
</script>
<style scoped>
.headerStyle {
  height: 300px;
}
</style>
