<template>
  <div class="text-center">
    <v-overlay :value="getOverlayLoader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
export default {
  name: "OverlayLoader",

  components: {},

  data() {
    return {};
  },
  methods: {},
  mounted: function() {
    // console.log("hello", this.$store.getters.count); //method1 will execute at pageload
  },
  computed: {
    getOverlayLoader() {
      return this.$store.state.overlayLoader; // get state
    },
  },
};
</script>

<style></style>
