<template>
  <div class="text-center">
    <v-dialog v-model="getModalDialog" width="500" persistent>
      <v-card>
        <v-card-title class="text-center">
          Cart Removal
        </v-card-title>

        <v-card-text>
          {{ getMessage }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary" text @click="setModalDialog">
            No
          </v-btn>
          <v-btn color="error" text @click="removeCart">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    setModalDialog() {
      let payload = {
        modalDialog: false,
      };
      this.$store.dispatch("setFormAction", payload);
    },
    removeCart() {
      let newCart = [];
      for (let i = 0; i < this.$store.state.cart.length; i++) {
        if (i != this.$store.state.indexToRemove) {
          newCart.push(this.$store.state.cart[i]);
        }
      }
      let payload = {
        modalDialog: false,
        message: "",
        cart: newCart,
      };
      this.$store.dispatch("setFormAction", payload);
    },
  },
  computed: {
    getModalDialog() {
      return this.$store.getters.getModalDialog; // get state
    },
    getMessage() {
      return this.$store.state.message; // get state
    },
  },
};
</script>
<style></style>
