<template>
  <div class="home text-center">
    <Banner />
    <countdown :time="getTimer" @end="timerEnd" @progress="trackProgress">
      <template slot-scope="props">
        <v-banner two-line
          ><b>{{ props.minutes }} </b>minutes <b>{{ props.seconds }}</b> seconds
          left to place order
        </v-banner>
      </template>
    </countdown>
    <v-card>
      <div class="pa-3">
        <v-card-title class="justify-leftu">Order Summary</v-card-title>
        <div v-for="cart in getCart" :key="cart.id" class="pa-1">
          <v-card class="card-container mt-5">
            <v-container fluid>
              <v-row align="center" justify="center">
                <v-col cols="4">
                  <v-img
                    class="white--text align-end"
                    height="200"
                    width="100"
                    style="objectFit:cover!important;"
                    :src="cart.image"
                  />
                </v-col>
                <v-col cols="4">
                  <v-row class="title text-left">
                    <v-col>
                      {{ cart.shirtLabel }}
                    </v-col>
                  </v-row>
                  <v-row class="caption text-left">
                    <v-col>
                      {{ cart.description }}
                    </v-col>
                  </v-row>
                  <v-row class="text-left">
                    <!-- <v-col cols="4">
                      Colour
                    </v-col>
                    <v-col cols="1">
                      :
                    </v-col> -->
                    <v-col>
                      {{ cart.productColor.productColorLabel }}
                    </v-col>
                  </v-row>
                  <v-row class="text-left">
                    <!-- <v-col cols="4">
                      Size
                    </v-col>
                    <v-col cols="1">
                      :
                    </v-col> -->
                    <v-col>
                      {{ cart.productSizes.productSizeLabel }}
                    </v-col>
                  </v-row>
                  <v-row class="text-left">
                    <v-col> Qty: {{ cart.productQuantity }} </v-col>
                  </v-row>
                </v-col>
                <v-col cols="4">
                  <v-row class="text-left">
                    <v-col>
                      <div v-if="cart.cutOffPrice">
                        <div class="headline price">
                          {{ computeAmount(cart.price) }}
                        </div>
                        <div class="caption cutOffPrice">
                          {{ computeAmount(cart.cutOffPrice) }}
                        </div>
                      </div>
                      <div v-else>
                        <span class="headline">
                          {{ computeAmount(cart.price) }}
                        </span>
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </div>
        <div class="mt-2 text-right">
          <div>
            <span class="font-weight-bold">Total Price RM </span>
            <span class="display-1">{{ computeTotalPrice }}</span>
          </div>
        </div>
      </div>
    </v-card>
    <v-card class="mt-5">
      <div class="pa-3">
        <v-card-title class="justify-center">Contact Information</v-card-title>

        <ValidationObserver
          ref="observer"
          v-slot="{ invalid, validated, passes }"
        >
          <v-form>
            <ValidationProvider
              rules="required|email"
              v-slot="{ errors, valid, failedRules }"
              name="Email"
            >
              <v-text-field
                :label="$t('msg.email_label')"
                :error-messages="$translatedErrorMessages(failedRules, 'email')"
                outlined
                :success="valid"
                required
                id="email"
                name="email"
                v-model="form.userEmail"
              />
            </ValidationProvider>

            <div class="title">
              Shipping Address
            </div>
            <ValidationProvider
              rules="required"
              v-slot="{ errors, valid, failedRules }"
              name="Full Name"
            >
              <v-text-field
                class="mt-5"
                :label="$t('msg.full_name_label')"
                :error-messages="
                  $translatedErrorMessages(failedRules, 'fullName')
                "
                outlined
                :success="valid"
                required
                id="fullName"
                name="fullName"
                v-model="form.userFullName"
              />
            </ValidationProvider>
            <ValidationProvider
              rules="required"
              v-slot="{ errors, valid, failedRules }"
              name="Address Line 1"
            >
              <v-text-field
                :label="$t('msg.address_line_1_label')"
                :error-messages="
                  $translatedErrorMessages(failedRules, 'addressline1')
                "
                outlined
                :success="valid"
                required
                id="addressLine1"
                name="addressLine1"
                v-model="form.shippingDetail.addressLine1"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors, valid, failedRules }"
              name="Address Line 2"
            >
              <v-text-field
                :label="$t('msg.address_line_2_label')"
                :error-messages="
                  $translatedErrorMessages(failedRules, 'addressline2')
                "
                outlined
                id="addressLine2"
                name="addressLine2"
                v-model="form.shippingDetail.addressLine2"
              />
            </ValidationProvider>
            <ValidationProvider
              rules="required"
              v-slot="{ errors, valid, failedRules }"
              name="Cities"
            >
              <v-text-field
                :label="$t('msg.cities_label')"
                :error-messages="
                  $translatedErrorMessages(failedRules, 'cities')
                "
                outlined
                :success="valid"
                required
                id="cities"
                name="cities"
                v-model="form.shippingDetail.city"
              />
            </ValidationProvider>
            <ValidationProvider
              rules="required"
              v-slot="{ errors, valid, failedRules }"
              name="State"
            >
              <v-select
                item-text="label"
                item-value="value"
                :items="state"
                :error-messages="$translatedErrorMessages(failedRules, 'state')"
                :label="$t('msg.state_label')"
                v-model="form.shippingDetail.state"
                outlined
                :success="valid"
                required
                id="state"
                name="state"
              ></v-select>
            </ValidationProvider>

            <ValidationProvider
              rules="required|length:5|numeric"
              v-slot="{ errors, valid, failedRules }"
              name="Postal Code"
            >
              <v-text-field
                :label="$t('msg.postal_code_label')"
                :error-messages="
                  $translatedErrorMessages(failedRules, 'postalcode')
                "
                outlined
                :success="valid"
                required
                id="postalCode"
                name="postalCode"
                v-model="form.shippingDetail.postalCode"
              />
            </ValidationProvider>
            <ValidationProvider
              rules="required|phoneNumberNoZero|min:9|max:11|numeric"
              v-slot="{ errors, valid, failedRules }"
              name="Contact Number"
            >
              <v-text-field
                :label="$t('msg.contact_number_label')"
                :error-messages="
                  $translatedErrorMessages(failedRules, 'contactnumber')
                "
                outlined
                prefix="+60"
                :success="valid"
                required
                id="contactNumber"
                name="contactNumber"
                v-model="form.userContactNumber"
              />
            </ValidationProvider>
            <div class="text-left subtitle-2">
              Country: *<b>Malaysia</b> only
            </div>
            <div class="title mt-5">
              Payment Info
            </div>
            <div class="mt-2 text-right">
              <v-row>
                <v-container fluid>
                  <v-img
                    class="white--text align-end float-right"
                    height="30px"
                    width="90px"
                    style="objectFit:cover!important;"
                    :src="require(`@/assets/LogoFpx.png`)"
                  />
                </v-container>
              </v-row>
              <v-row>
                <v-container fluid>
                  <div
                    class="sr-input sr-fpx-bank-element fpx-bank-element-style float-right"
                    style="width:100%"
                    id="fpx-bank-element"
                  >
                    <!-- A Stripe Element will be inserted here. -->
                  </div>
                  <!-- Used to display form errors. -->
                  <div id="error-message" style="color:red;" role="alert"></div>
                </v-container>
              </v-row>
              <v-row>
                <v-container fluid>
                  <v-btn
                    width="100%"
                    color="success"
                    :loading="loading"
                    :disabled="loading"
                    @click="passes(submitPayment)"
                    >Place your order</v-btn
                  >
                </v-container>
              </v-row>
              <div class="text-left">
                By placing your order, you agree to our terms of service.
              </div>
              <v-checkbox
                class="caption"
                v-model="form.userAcceptEmailPromos"
                label="Keep me up to date on news and exclusive offers"
              ></v-checkbox>
            </div>
          </v-form>
        </ValidationObserver>
      </div>
    </v-card>
  </div>
</template>

<script>
import Banner from "@/components/Banner/Banner";
import { homeService } from "../_services";

const stripe = window.Stripe(process.env.VUE_APP_STRIPE_KEY);

const elements = stripe.elements();

var style = {
  base: {
    // Add your base input styles here. For example:
    padding: "10px 12px",
    color: "#32325d",
    fontSize: "28px",
    borderRadius: "3px",
    border: "3px black",
  },
};

var fpxBank = elements.create("fpxBank", {
  style: style,
  accountHolderType: "individual",
});
export default {
  name: "CheckoutPage",
  components: {
    Banner,
  },
  data() {
    return {
      totalPrice: 10900,
      region: null,
      loading: false,
      cart: [
        {
          id: 1,
          title: "Clothes 1",
          subtitle: "Variation 1",
          price: "29.00",
          cutOffPrice: "55.00",
          imageUrl: "../assets/image1.jpeg",
        },
        {
          id: 2,
          title: "Clothes 2",
          subtitle: "Variation 2",
          price: "29.00",
          cutOffPrice: "50.00",
          imageUrl: "@/assets/image1.jpeg",
        },
        {
          id: 3,
          title: "Clothes 3",
          subtitle: "Variation 2",
          price: "29.00",
          cutOffPrice: "",
          imageUrl: "@/assets/image1.jpeg",
        },
      ],
      state: [
        {
          label: "Johor",
          value: "JHR",
        },
        {
          label: "Kedah",
          value: "KDH",
        },
        {
          label: "Kelantan",
          value: "KTN",
        },
        {
          label: "Melaka",
          value: "MLK",
        },
        {
          label: "Negeri Sembilan",
          value: "NSN",
        },
        {
          label: "Pahang",
          value: "PHG",
        },
        {
          label: "Penang",
          value: "PNG",
        },
        {
          label: "Perak",
          value: "PRK",
        },
        {
          label: "Perlis",
          value: "PLS",
        },
        {
          label: "Sabah",
          value: "SBH",
        },
        {
          label: "Sarawak",
          value: "SWK",
        },
        {
          label: "Selangor",
          value: "TRG",
        },
        {
          label: "Terengganu",
          value: "SBH",
        },
        {
          label: "Kuala Lumpur",
          value: "KUL",
        },
        {
          label: "Labuan",
          code: "LBN",
        },
        {
          label: "Putrajaya",
          code: "PJY",
        },
      ],
      form: {
        userEmail: "",
        userFullName: "",
        userContactNumber: "",
        userAcceptEmailPromos: true,
        shippingDetail: {
          addressLine1: "",
          addressLine2: "",
          city: "",
          state: "",
          postalCode: "",
        },
      },
    };
  },
  methods: {
    trackProgress(data) {
      localStorage.setItem("timer", data.totalMilliseconds);
    },
    timerEnd() {
      this.$router.push({ name: "Home" });
      let payload = {
        sessionTimeout: true,
      };
      this.$store.dispatch("setFormAction", payload);
    },
    computeAmount(value) {
      return `RM ${(value / 100).toFixed(2)}`; // get state
    },
    submitPayment() {
      this.loading = true;
      // this.analytics.fbq.event("COTT8N", {
      //   action: "Checkout Page - Payment Process",
      //   data: this.form,
      // });
      homeService
        .saveShippingDetails(this.form)
        .then(() => {
          stripe
            .confirmFpxPayment(
              this.$store.getters.getStripeToken.client_secret,
              {
                payment_method: {
                  fpx: fpxBank,
                },
                // Return URL where the customer should be redirected after the authorization
                return_url: `${window.location.href}`,
              }
            )
            .then((result) => {
              if (result.error) {
                // Inform the customer that there was an error.
                var errorElement = document.getElementById("error-message");
                if (result.error.code == "parameter_invalid_empty") {
                  errorElement.textContent = "Please choose your bank";
                } else if (result.error.code == "offline_bank") {
                  errorElement.textContent =
                    "Please choose another bank. Current bank selection if offline";
                } else {
                  errorElement.textContent = result.error.message;
                }
              }
            });
        })
        .catch((error) => {
          console.log(error);
        });

      this.loading = false;
    },
  },
  mounted: function() {
    fpxBank.mount("#fpx-bank-element");
  },
  computed: {
    getSideBarToggle() {
      return this.$store.getters.getSideBarToggleStatus; // get state
    },
    getCart() {
      return this.$store.getters.getCart; // get state
    },
    computeTotalPrice() {
      if (this.$store.getters.getCart.length > 0) {
        let price = 0;
        this.$store.getters.getCart.forEach((element) => {
          price += element.price * element.productQuantity;
        });
        return (price / 100).toFixed(2);
      } else {
        return `0.00`;
      }
    },
    getTimer() {
      return Number(localStorage.getItem("timer"));
    },
  },
};
</script>

<style scoped>
.cutOffPrice {
  text-decoration: line-through !important;
}
.price {
  color: green;
}
</style>
