<template>
  <div class="home">
    <Banner />
    <Carousel />
    <SlideGroup />
    <SideBar />

    <v-snackbar
      v-model="paymentStatus"
      :timeout="0"
      :color="success ? 'success' : 'error'"
    >
      <v-row>
        <v-col v-show="success">
          Payment Success you will get email in short while. Thank you.

          <v-icon color="white" class="ml-2">mdi-check-circle-outline</v-icon>
        </v-col>
        <v-col v-show="!success">
          Payment Error Please try to checkout again.

          <v-icon color="white" class="ml-2">mdi-alert-circle</v-icon>
        </v-col>
      </v-row>

      <v-btn text @click="paymentStatus = false">
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
// @ is an alias to /src
import Banner from "@/components/Banner/Banner";
import Carousel from "@/components/Carousel/Carousel";
import SlideGroup from "@/components/SlideGroup/SlideGroup";
import SideBar from "@/components/SideBar/SideBar";

export default {
  name: "Home",
  components: {
    Banner,
    Carousel,
    SlideGroup,
    SideBar,
  },
  data() {
    return {
      paymentStatus: false,
      success: true,
    };
  },
  methods: {},
  mounted: function() {
    if (Object.keys(this.$route.query).length > 0) {
      if (this.$route.query.success == "true") {
        this.$store.dispatch("clearCart", this.event);
        // this.analytics.fbq.event("COTT8N", {
        //   action: "Landing Page - Payment Success",
        // });
        localStorage.removeItem("CART_SESSION");

        this.success = true;
      } else {
        // this.analytics.fbq.event("COTT8N", {
        //   action: "Landing Page - Payment Fail",
        // });
        this.success = false;
      }
      this.paymentStatus = true;
    }
  },
  computed: {},
};
</script>

<style scoped></style>
